body {
  margin: 0;
  font-family: serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}


.contactForm {
  background-color: #ADD8E6;
  margin: 5%;
  display: block;
  text-align: center;
  border: #407a88 2.5px solid;
  border-radius: 5px;
}

.contactForm input {
  margin: 5% 1% 5%;
  font-size: 140%;
}

.contactForm button {
  font-size: 140%;
}

.contactSearch {
  text-align: center;
  margin: 5%;
  font-size: 150%;
}

.contactSearch input {
  font-size: 100%;
}

.contactTable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 140%;
}

.contactTable table, td, th {
  border: 1px black solid;
  padding: 1%;
  padding-right: 2%;
}

.contactTable table {
  border-collapse: collapse;
  width: 60%;
}

.contactTable tr:nth-child(even) {
  background-color: #f2f2f2;
}