body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin: auto;
  max-width: 95%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.note {
	border-radius: 10px;
	padding: 1rem;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
  text-align: center;
}

.noteTitle {
  font-weight: bold;
  font-size: 120%;
}

.note.add-note {
  background-color: #FFD580;
}

input[type="text"]
{
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 120%;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  text-align: center;
  font-size: 120%;
}

.add {
  background-color: #f8f8f8;
  border-radius: 15px;
  border: none;
  padding: 2%;
  margin: 1%;
}

.add:hover {
  background-color: #d3d3d3;
}

.colorSel {
  background-color: #f8f8f8;
  border-radius: 15px;
  border: none;
  padding: 2%;
  margin: 1%;
}

.all-notes {
  display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}

.noteControls {
  display: flex;
	align-items: center;
	justify-content: space-between;
}

.edit {
  background-color: #f8f8f8;
  border-radius: 15px;
  border: none;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin: 1%;
}

.edit:hover {
  background-color: #d3d3d3;
}

.delete {
  background-color: #f8f8f8;
  border-radius: 15px;
  border: none;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin: 1%;
}

.delete:hover {
  background-color: #d3d3d3;
}

.note.red-Note {
  background-color: #ff2c2c
}

.note.blue-Note {
  background-color: #afdceb;
}

.note.green-Note {
  background-color: #98fb98
}

.none {
  display: none;
}