body {
    color: #FFFDD0;
    background-color: gray;
    text-align: center;
}

h1 {
    font-size: 450%;
    padding-top: 25%;
    text-decoration: underline;
}

input[type=button] {
    background-color: #FFFDD0;
    color: gray;
    font-size: 135%;
    width: 30%;
}
