body {
    background-color: #202124;
    color: whitesmoke;
    text-align: center;
}

.search {
    margin: 3%;
}

.search input {
    font-size: 120%;
    width: 40%;
}

.search button {
    font-size: 120%;
}

.profile {
    display: inline-block;
    height: 700px;
    overflow-y: scroll;
}

.profile h1 {
   visibility: hidden;
}

.profile table {
    display: none;
}

.profile img {
    width: 150px;
    height: 150px;
}

.profile tr, td {
    border: 1px whitesmoke solid;
    height: 0px;
    width: 500px;

}

.repos {
    display: inline-block;
    height: 700px;
    overflow-y: scroll;
}

.repos h1 {
    visibility: hidden;
}

.repos table {
    padding-bottom: 100%;
}

.repos tr,td {
    border: 1px whitesmoke solid;
    height: 70px;
    width: 500px;
}



