body {
    background-color: #f1f3f5;
    display: block;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.pageTitle {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  margin-bottom: 2%;
  color: white;
}

.colourSel {
  margin-top: 1%;
  margin-bottom: 1%;
}

.colourSel p {
  font-size: 140%;
}


.noteTitle{
  height: 30px;
  width: 25%;
  background-color:  #FFFDD0;
  border-radius: 2%;
  border: 1.5px black solid;
}

.noteText {
    background-color:  #FFFDD0;
    border-radius: 2%;
    height: 200px;
    width: 25%;
    border: 1.5px black solid;
    resize: none;
}

.noteBtn {
    border: 2px solid black;
    color: green;
    background-color: lightgreen;
    font-size: 150%;
    padding: 1%;
    margin-bottom: 2%;
    margin-top: 1%;
  }

  .add {
    border-color: #04AA6D;
    color: black;
    border-radius: 3%;
  }
  
  .add:hover {
    background-color: #04AA6D;
    color: white;
    border-radius: 3%;
  }

h2 {
    text-decoration: underline;
    font-size: 165%;
}